
  /* Añadir estos estilos */
#cartonesBingoContainer {
    margin-top: 20px;
    padding: 15px;
    background-color: #ebe3e3;
    border-radius: 40px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-weight:
    box-shadow:0 26px 66px rgba(0,0,0,0.1);
}

#cartonesBingoContainer h3 {
    margin-top: 0;
    color: #2c3e50;
}

#listaCartonesBingo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.cartonBingo {
    background-color: #1a7c44;
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
      
